# Игнорировать всё в корне, кроме явно разрешённого
/*
!/.gitignore
!/pom.xml
!/README.md
!/*.png
!/*.jpg
!/*.jpeg
!/Project concept.md
!/Usage Scenarios.md
!/User's Guide.md

# Разрешить исходный код, но исключить конфигов
!/src/
/src/main/java/org/example/hometracker_kurs/config/DatabaseConfig.java
/src/main/java/org/example/hometracker_kurs/config/TelegramConfig.java
/src/main/java/org/example/hometracker_kurs/config/ExcelConfig.java

# Стандартные исключения (логи, сборки и т.д.)
target/
*.log
.idea/
*.iml